{
  "plugins": [
    "@stylistic/js"
  ],
  "rules": {
    "singleQuote": true,
    "trailingComma": "es5",
    "printWidth": 80,
    "tabWidth": 2,
    "useTabs": false,
    "semi": false,
    "jsxSingleQuote": true,
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "array-element-newline": [
      "error",
      "always"
    ]
  }
}